@import "styles/variables.scss";

article.assignment__show {
  background-color: $default;
  max-width: 40rem;
  padding: .5rem;
  margin: 1rem 0;
  border: 1px solid rgb(43, 192, 226);
  border-radius: 0.4rem;

  p {
    margin: .5rem 0;
  }
  button {
    margin-right: .5rem;
  }

  &header {

  }

  &.math {
    background-color: $math;
  }

  &.history {
    background-color: $history;
  }
}