@import "styles/variables.scss";

.about-us{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70vw;
  text-align: center;
  font-size: 10px;

  h1 {
    margin-top: 1em;
    font-size: 48px;
    color: #424242;
  }

  h2{
    margin: 1em;
  }

  .member_container{
    display: flex;
    justify-content: space-around;
    margin: 2em;

    .member{
      img {
        border-radius: 50%;
        width: 150px;
        border: 2px solid white;
      }
      .name {
        margin: 1em;
      }

      .links {
        display: flex;
        justify-content: center;
        
        i {
          margin: 0 1em;
        }

        i:hover{
          color: #424242;
        }
      }
  
    }

  }

  .story {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4em;

    .sub-header {
      margin: 1em 0;
    }
    p {
      font-size: $b1;
      text-align: left;
      line-height: $b1 * 0.8;
    }
  }

}