@import "styles/variables.scss";

article.assignment__view {
  background-color: $default;
  width: 100%;
  border: 0.2rem solid rgb(166, 57, 188);
  border-radius: $radius;
  overflow: hidden;

  article.assignment__show {
    position: relative;
    padding: 2rem;

    p {
      margin: 1rem 0;
    }

    .title {
      color: $default;
      padding: 1rem;
      background: linear-gradient(to right, $confirm 60%, $transparent);
      border-radius: calc($radius/4);
    }

    .subject {
      font-family: sans-serif;
      font-size: 26px;
      font-weight: bold;
    }

    .description {
      >header {
        font-family: Helvetica, sans-serif;
        font-size: 24px;
        padding: 0.5rem;
        background-image: linear-gradient(to right, $danger 10%, $transparent 30%);
        color: $default;
        border-radius: calc($radius/4);

      }

      >p {
        font-size: 20px;
        padding-bottom: 16px;
        border-bottom: 1px solid darkgray;
      }
    }

    .classroom-url {
      font-size: $font-scale;
      font-family: Arial, sans-serif;
      cursor: pointer;
    }

    &.notstarted {
      background-color: $default ;
    }

    &.started {
      background-color: $started  !important;
    }

    &.complete {
      background-color: $complete;

      // override overdue bg
      .due-date {
        background-color: $confirm  !important;
      }

      // animated headers
      >header .title {
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        animation: animatedgradient 7s ease alternate infinite;
        background-size: 300% 300%;
      }

      .description>header {
        background: linear-gradient(120deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        animation: animatedgradient 9s ease alternate infinite;
        width: 40%;
        background-size: 300% 300%;
        border-radius: calc($radius/4);
      }
    }

    .due-date {
      width: 30%;
      padding: 0.6em 0.8em;
      border-radius: $radius;
      color: $default;
      text-align: center;

      &.due {
        background-color: $confirm;
      }

      &.pastDue {
        background-color: $danger;
      }
    }
  }

  .status__form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .progress {
      font-size: 16px;
      border-top: 2px solid darkgray;
      padding: 2rem;

      span {
        font-size: 20px;
        font-style: italic;
      }
    }

    .buttons {
      margin-top: 1em;
      display: flex;
      justify-content: flex-end;
      gap: 2em;
    }
  }

  section.assignment__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: $font-scale;

    .error {
      margin-top: 1em;
      font-size: 1rem;
      color: $danger;
    }

    input,
    textarea {
      width: 30rem;
      display: block;
      padding: 3px;
      border-radius: 5px;
      border: 2px solid lightblue;
      margin: 1rem 0;
    }

    .dropdowns {
      display: flex;
      justify-content: space-between;
      align-items: center;

      // date picker
      input {
        width: 10em;
      }

      select {
        padding: 3px;
        border-radius: 5px;
        border: 2px solid lightblue
      }
    }

    .del-warning {
      font-size: 32px;
    }

    .del-title {
      font-size: 24px;
    }

    .buttons {
      margin-top: 1em;
      display: flex;
      justify-content: space-around;
    }
  }
}

.star-img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 20%;
  top: 4.5%;
}

.bear-img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 20%;
  top: 5%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}