@import "styles/variables.scss";

article.assignment__view {
  background-color: $default;
  padding: 2rem;
  // max-width: 90%;
  width: 100%;
  border: 0.2rem solid rgb(166, 57, 188);
  border-radius: $radius;

  article.assignment__show {
    p {
      margin: 1rem 0;
    }

    .title {
      color: $default;
      padding: 1rem;
      background-image: linear-gradient(to right, $confirm 60%, $transparent);
      border-radius: $radius/4;
    }

    .subject {
      font-family: sans-serif;
      font-size: 26px;
      font-weight: bold;
    }

    .description {
      >header {
        font-family: Helvetica, sans-serif;
        font-size: 24px;
        padding: 0.5rem;
        background-image: linear-gradient(to right, $danger 10%, $transparent 30%);
        color: $default;
        border-radius: $radius/4;
      }

      >p {
        font-size: 20px;
        padding-bottom: 16px;
        border-bottom: 1px solid darkgray;
      }
    }

    .classroom-url {
      font-family: Arial, sans-serif;
      cursor: pointer;
    }

    &.notstarted {
      background-color: $default ;
      background-image: none;
    }

    &.started {
      background-color: $started  !important;
      background-image: none;
    }

    &.complete {
      background-color: $complete;
      background-image: none;
    }

    .due-date {
      width: 30%;
      padding: 0.6em 0.8em;
      border-radius: $radius;
      color: $default;
      text-align: center;

      &.due {
        background: $confirm;
      }

      &.pastDue {
        background: $danger;
      }
    }
  }

  .status__form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .progress {
      font-size: 16px;
      border-top: 2px solid darkgray;
      padding: 2rem;

      span {
        font-size: 20px;
        font-style: italic;
      }
    }

    .buttons {
      margin-top: 1em;
      display: flex;
      justify-content: end;
      gap: 2em;
    }
  }

  section.assignment__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .error {
      margin-top: 1em;
      font-size: 1rem;
      color: $danger;
    }

    input,
    textarea {
      display: block;
      width: 30rem;
      padding: 3px;
      border-radius: 5px;
      border: 2px solid lightblue;
      margin: 1rem 0;
    }

    select {
      padding: 3px;
      border-radius: 5px;
      border: 2px solid lightblue
    }

    .due-drop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .del-warning {
      font-size: 32px;
    }

    .del-title {
      font-size: 24px;
    }

    .buttons {
      margin-top: 1em;
      display: flex;
      justify-content: space-around;
    }
  }
}