@import "styles/variables.scss";

@mixin fade {
  transition: opacity 0.2s ease-out;
}

@mixin button-active {
  cursor: pointer;
}

.button {
  transition: 0.2s ease-out;
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.6em 1.2em;
  border-radius: $radius/2;
  box-shadow: 2px 1px 2px gray;
  font-size: $b2;
  font-weight: 700;


  &:disabled {
    opacity: 0.6;
    pointer-events: none; // disable hover effects
  }

  // undefined aka default
  &.button--undefined {
    background-color: rgb(232, 252, 255);
    color: rgb(7, 77, 86);

    &:hover {
      background-color: rgb(152, 185, 209);
    }
  }

  &.button--confirm {
    background-color: $confirm;

    &:hover {
      background-color: $confirm-dim;
    }
  }

  &.button--warning {
    background-color: $warning;

    &:hover {
      background-color: $warning-dim;
    }
  }

  &.button--danger {
    background-color: $danger;

    &:hover {
      background-color: $danger-dim;
    }
  }
}