$title-height: 3em;
$days-height: 3em;
$time-width: 3em;
$time-height: 6em;
$outline: #dadce0;
$calendar-template: $time-width 0px 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
$current-time-color: #ea4335;
$radius: 10px;

.calendar {
  background-color: #fff;
  display: grid;
  grid-template-rows: $title-height $days-height auto;
  border-radius: $radius;
  overflow: hidden;

  >header {
    background: #217346;
    text-align: center;
    color: #fff;
    top: 0;

    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;




    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
    border-bottom: 1px solid var(--border-color);

    .icon {
      cursor: pointer;
      transition: 0.15s ease-out;
    }

    .icon:first-of-type {
      margin-left: 1em;
    }

    .icon:last-of-type {
      margin-right: 1em;
    }

    .icon:hover {
      transition: 0.25s ease-out;
      color: var(--main-color);
    }
  }

  .days-header {
    background: #f3f2f1;
    display: grid;
    place-content: center;
    text-align: center;
    grid-template-columns: $calendar-template;
    border-bottom: 2px solid $outline;
  }

  .day {
    border-left: 1px solid $outline;
  }

  .cells-container {
    display: grid;
    grid-template-columns: $calendar-template;
    grid-template-rows: repeat(4, $time-height);
  }

  .time {
    grid-column: 1;
    text-align: right;
    align-self: end;
    font-size: 80%;
    bottom: -1ex;
    color: #70757a;
    padding-right: 2px;

    &.label {
      transform: rotate(-90deg);
      grid-row: 1 / span 1;
      grid-column: 0 / span 4;
      min-width: 10em;
    }
  }

  .col {
    &.label {
      margin: auto;
      vertical-align: center;
      writing-mode: vertical-lr;
      transform: scale(-1, -1);
      border-style: none;
    }
  }

  .col {
    border-right: 1px solid $outline;
    grid-row: 1 / span 4;
    grid-column: span 1;
  }

  .filler-col {
    grid-row: 1 / -1;
    grid-column: 2;
    border-right: 1px solid $outline;
  }

  .row {
    grid-column: 2 / -1;
    border-bottom: 1px solid $outline;
  }

  .weekend {
    background-color: #f1f3f4;
  }

  .calendar1 {
    background-color: #d7dbef;
    border-color: #bcc3e5;
  }

  .calendar2 {
    background-color: #b3e1f7;
    border-color: #81cdf2;
  }

  .card {
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    font-size: 80%;

    &.row1 {
      grid-row: 1;
    }

    &.row2 {
      grid-row: 2;
    }

    &.row3 {
      grid-row: 3;
    }

    &.row4 {
      grid-row: 4;
    }

    &.column3 {
      grid-column: 3;
    }

    &.column4 {
      grid-column: 4;
    }

    &.column5 {
      grid-column: 5;
    }

    &.column6 {
      grid-column: 6;
    }

    &.column7 {
      grid-column: 7;
    }
  }

  .current-time {
    grid-column: 7;
    grid-row: 10;
    border-top: 2px solid $current-time-color;
    top: calc(50% - 1px);
  }

  .circle {
    width: 12px;
    height: 12px;
    border: 1px solid $current-time-color;
    border-radius: 50%;
    background: $current-time-color;
    top: -6px;
    left: -6px;
  }

  .current {
    font-weight: bold;
  }
}