@import "styles/variables.scss";

// calendar view
section.calendar {

  // individual tables
  section.table {
    display: flex;
    justify-content: center;

    background-color: #fff;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-bottom: 2em;
    overflow: visible;

    // table 1
    &:first-of-type {
      border-color: #bcc3e5;

      header.day-label {
        background: #d7dbef;
      }
    }

    // table 2
    &:last-of-type {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      border-color: #81cdf2;

      header.day-label {
        background: #b3e1f7;
      }
    }

    // flex coloumns
    .day-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;

      .card-container {
      //  height: $cell-height;
      display: grid;
      outline: 1px solid $outline-light;
      margin: 0.2em 0;
      min-width: $cell-width;
      }
      // current day
      &.selected {
        font-weight: bold;
        outline: 2px solid $selected-color;
        z-index: 1;
        border-radius: $radius;

        // disable default border for selected column
        &.selected,
        +.col {
          border-left: none;
        }
      }

      // table header
      >header.col {
        flex-grow: 0;
        // height: 5em;
        flex-basis: 3em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 70%;
        padding-top: 0.4em;
        border-left: 1px solid $outline-dark;
      }

      // middle columns
      .card-container {
        min-height: $cell-height;
        flex-grow: 1;
        flex-basis: 0;
        border-left: 1px solid $outline-light;
        border-bottom: 1px solid $outline-light;
      }

      // first column
      &:first-of-type {
        min-width: 0; // resets flex basis
        flex-grow: .5; // width
        font-weight: 500;


        >header.col {
          border: none;
        }
      }

      // weekend column width
      &:nth-last-child(-n+2) {
        min-width: 0;
        flex-grow: .5;
      }

      // weekend background colours
      &:nth-last-child(-n+2) .card-container {
        background-color: #f1f3f4;

        img {
          display: none;
        }
      }

      // disable bottom border
      >:last-of-type {
        border-bottom: none;
      }
    }
  }
}