@import "styles/variables.scss";

article.card {
  font-size: $font-scale;
  display: grid;
  position: relative;
  z-index: 11;
  padding: .2em;
  margin: auto;
  width: 100%;
  height: 100%;
  user-select: none;


  .card__show {
    transition: 50ms;
    background-color: $default;
    padding: .5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    white-space: wrap;
    border-radius: $radius;
    cursor: pointer;

    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.05);

    button {
      margin-right: .5rem;
    }

    &header {
      color: aqua;
    }

    // add glow
    &.complete {
      border: 2px solid rgba(45, 136, 156, 0.5);
      background: radial-gradient(circle, rgba(248, 255, 249, 0.5) 0%, rgba(225, 240, 228, 0.5) 100%);
      box-shadow: 0px 0px 8px 3px rgba(38, 232, 171, 0.4);
    }

    &.red {
      border: 3px solid $danger;
      background-color: $started;
      box-shadow: 0px 0px 8px 3px rgba(232, 38, 96, 0.3);
    }

    &.yellow {
      border: 2px solid $warning;
    }

    &.default {
      border: 2px solid rgba(125, 133, 129, 0.5);
    }

    &.started {
      background-color: $started;
    }

    &.complete {
      background-color: $complete;
      opacity: 0.7;
    }

    &.art {
      border: 2px solid darkorchid;
    }

    &.english {
      border: 2px solid green
    }

    &.history {
      border: 2px solid dodgerblue;
    }

    &.math {
      border: 2px solid orange;
    }

    &.science {
      border: 2px solid orangered;
    }


    &:hover {
      position: relative;
      transform: scale(1.05);
      z-index: 20;
      box-shadow:
        12px 12px 10px rgba(0, 0, 0, 0.02),
        10px 10px 40px rgba(0, 0, 0, 0.04);
    }
  }


  .card__empty {
    display: flex;
    justify-content: center;
    align-items: center;

    img.card__add-button {
      width: calc(24px + 1.8vw); // set min width and scale with vp
      cursor: pointer;
      transition: 50ms;
      opacity: 0.5;

      &:hover {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }

}