@import "styles/variables.scss";

article.card {
  font-size: $font-scale;
  display: grid;
  position: relative;
  z-index: 11;
  padding: .2em;
  margin: auto;
  width: 100%;
  height: 100%;


  .card__show {
    transition: 50ms;
    background-color: $default;
    padding: .5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    white-space: wrap;
    border: 1px solid rgb(43, 192, 226);
    border-radius: $radius;
    cursor: pointer;

    button {
      margin-right: .5rem;
    }

    &header {
      color: aqua;
    }

    &.started {
      background-color: $started;
    }

    &.complete {
      background-color: $complete;
    }

    &:hover {
      position: relative;
      transform: scale(1.05);
      z-index: 50;
      box-shadow:
        12px 12px 10px rgba(0, 0, 0, 0.02),
        10px 10px 40px rgba(0, 0, 0, 0.04);
    }
  }


  .card__empty {
    display: flex;
    justify-content: center;
    align-items: center;

    img.card__add-button {
      width: calc(24px + 1.8vw); // set min width and scale with vp
      cursor: pointer;
      transition: 50ms;
      opacity: 0.5;

      &:hover {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }

}