@import "styles/variables.scss";

article.card {
  position: relative;
  z-index: 11;
  padding: .2em;
  margin: auto;
  width: 100%;
  height: 100%;

  .card__show {

    width: 100%;
    height: 100%;
    transition: 50ms;
    background-color: $default;
    min-width: 100px;
    padding: .5em;
    border: 1px solid rgb(43, 192, 226);
    border-radius: 0.4rem;
    overflow: hidden;

    p {
      margin: .5rem 0;
    }

    button {
      margin-right: .5rem;
    }

    &header {
      color: aqua;
    }

    &.started {
      background-color: $started;
    }

    &.complete {
      background-color: $complete;
    }

    &:hover {
      position: relative;
      transform: scale(1.2) !important;
      z-index: 20;
      box-shadow:
        12px 12px 10px rgba(0, 0, 0, 0.02),
        10px 10px 40px rgba(0, 0, 0, 0.04);
    }
  }


  &.card__empty {
    display: flex;
    justify-content: center;
    margin-top: 5px;

    img:hover {
      transform: scale(1.1);
    }
  }
}