@import "styles/variables.scss";


.list__view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ul-view {
  border: none;
}

.card-li {
  overflow: hidden;
  margin-bottom: 20px;
  outline: 3px solid $outline-dark;
  border-radius: $radius;
  list-style: none; // removes bullet

  #cancel-X {
    display: none;
  }
}