@import "styles/variables.scss";
@import "components/styles/confetti.scss";


.outerwrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
}

.modalBackdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 2;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 5s position linear infinite backwards));
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));

  &.del {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .cancel-X {
    position: absolute;
    right: 0.5em;
    top: 0.2em;
    font-size: 32px;
    cursor: pointer;
  }

  // &.complete {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   width: 5px;
  //   height: 5px;
  //   border-radius: 50%;
  //   box-shadow: $box-shadow2;
  //   @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
  //   @include animation-delay((1.25s, 1.25s, 1.25s));
  //   @include animation-duration((1.25s, 1.25s, 6.25s));
  //   z-index: 30;

  // }
}

.form-modalContainer {
  position: relative;
  width: 90vw;
  z-index: 3;
  overflow: hidden;

  border: 5px solid rgb(9, 90, 121);
  border-radius: $radius;
  box-shadow: $drop-shadow;

  // assignment view overrides
  article.assignment__view,
  .assignment__show,
  .complete {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

.del-modalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: tomato;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: solid 5px red;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: $drop-shadow;
  z-index: 4;
}


.cancel-X {
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  font-size: 32px;
  cursor: pointer;
}