@import "styles/variables.scss";

.modalBackdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 2;

  &.del {
    display: flex;
    right: 0;
    bottom: 0;
    width: 79.5vw;
    height: 69.5vh;

  }
}

.del-modalContainer {
  position: absolute;
  display: flex;
  top: 25%;
  left: auto;
  height: auto;
  width: auto;
  background-color: tomato;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: solid 5px red;
  border-radius: 10px;
  padding: 2rem;
  box-shadow:
    1.7px 1.7px 1.4px rgba(0, 0, 0, 0.016),
    3.9px 3.9px 3.1px rgba(0, 0, 0, 0.023),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    10.3px 10.3px 8.2px rgba(0, 0, 0, 0.033),
    15.2px 15.2px 12.2px rgba(0, 0, 0, 0.037),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    33.5px 33.5px 26.8px rgba(0, 0, 0, 0.047),
    53.4px 53.4px 42.7px rgba(0, 0, 0, 0.054),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  z-index: 4;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.form-modalContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  height: auto;
  width: 80vw;
  background-color: hsla(50, 75%, 97%, 1);
  background-image:
    radial-gradient(at 50% 50%, hsla(65, 100%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 6% 80%, hsla(194, 100%, 96%, 1) 0px, transparent 50%);
  color: #262422;
  border: 5px solid blueviolet;
  border-radius: 10px;

  box-shadow:
    1.7px 1.7px 1.4px rgba(0, 0, 0, 0.016),
    3.9px 3.9px 3.1px rgba(0, 0, 0, 0.023),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    10.3px 10.3px 8.2px rgba(0, 0, 0, 0.033),
    15.2px 15.2px 12.2px rgba(0, 0, 0, 0.037),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    33.5px 33.5px 26.8px rgba(0, 0, 0, 0.047),
    53.4px 53.4px 42.7px rgba(0, 0, 0, 0.054),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  z-index: 3;

  button {
    margin-right: .5rem;
  }
}

