:root {
  --navbar-bg-color: transparent;
  --navbar-text-color: #455d3e;
  --navbar-text-color-focus: #748c70;
}

#navbar {
  padding: 2rem 0;
  --navbar-height: 3rem;
  height: var(--navbar-height);
  width: 80vw;
  background-color: var(--navbar-bg-color);
  top: 0;
  left: 0;
  right: 0;
}

.container {
  max-width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;

}
