@import "styles/variables.scss";


/* Individual item */

img.logo {
  width: 140px;
}

.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-left: 1rem;
  margin-bottom: 2rem;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item ul {
  list-style: square inside;
  margin-right: 0;
}

.bm-item li {
  font-size: $b2;
  margin: 1rem 0;
  cursor: pointer;
}

/* Change color on hover */
.bm-item li:hover {
  color: white;
}

.students-nav {
  margin: 1rem 0;
  cursor: pointer;
  list-style: none;
}

.students-nav:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 25px;
  top: 1rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #424242;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #424242;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;

  img {
    cursor: pointer;
  }

  h2:hover {
    color: white;
  }
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}