@import "styles/variables.scss";

.table__view {
  margin-top: 2rem;
  display: flex;

  justify-content: space-between;
  list-style: none;
}

.student_header {
  // font-weight: bold;
  // font-size: 26px;
  margin: 1rem;
}

.student_names {
  align-items: center;
  list-style: none;
}

.student_li {
  padding: 0.5rem;
  border: 1px solid blue;
  border-radius: 6px;
  background: aliceblue;
  list-style: none;
  cursor: pointer;
  &:hover {

    transform: scale(1.1)
  }
}

.remind_button {
  margin: 3rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e5bd6f;
  color: #473218;
}


.table_wrapper {
  margin: 0 2rem 0 2rem;
  text-align: center;
}

.student_display {
  margin: 1rem;
  // font-weight: bold;
  // font-size: 26px;
  text-align: center;
}

.student_table {
border: 1px solid black;
padding: 1rem;
background: lightcyan;
}

.table_rows {
  padding: 2rem;
  border: 1px solid black;
  text-align: center;
}

.table_header {
  border: 1px solid black;
  min-width: 10vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #99ff99;
}

.row_values {
  padding: 1rem;
  border: 1px solid black;
  background: aliceblue;
  &.link {
    color: blue;
  }
  &.started {
    background-color: $danger;
    color: #f9f7f5;
  }
}
