@import "styles/variables.scss";

.student_overview {
  display: flex;
  // padding-top: 2rem;
  justify-content: space-around;
  font-size: $font-scale;

  .sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 10em;

    .remind_button{
      margin-bottom: 1em;
      padding: 0.8em 1em;
      background-color: #34A853;
      border: 1px solid $light-grey;
      border-radius: 5px;
      cursor: pointer;
      font-size: $b4;
      font-weight: 700;
    }

  .student_list {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid $dark-grey;

    .student_names{
    padding: 1em;
    }

    .student_name:last-of-type{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid $dark-grey;
    }

    .student_name{
      padding: 1em 2em ;
      list-style: inside none;
      border-top: 1px solid $dark-grey;
      font-size: $b4;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        background-color: $light-grey;
      }
    }
  }
  }


  .body {
    display: flex;
    flex-direction: column;
    font-family: $font-default;
    margin: 1rem 2rem;

    .header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 1.5em;

      .dropdown{
        font-size: $b4;
        >*{
          padding: 0.5em 3em 0.5em 0.4em;
          margin: auto 0.5em;
        }
      }

      .student_stats_container {
        border-radius: 8px;
        border: 1px solid $dark-grey;
        border-bottom: none;
        display: flex;
        flex-direction: column;

        .name{
          padding: 0.7em 1em 0.3em 1em;
          font-style: italic;
        }

        div.stats{
          padding: 1em;
          background-color: white;
          display: flex;
          justify-content: space-around;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          border-bottom: 1px solid $dark-grey;

          > .stat {
            padding: 0 1.5em;
          }
          > .stat:first-of-type {
            padding: 0 1em;
          }

          .number {
            font-style: italic;
            font-weight: 900;
            line-height: 1.2em;

            &#complete{
              color: $dark-grey;
            }

            &#started{
              color: $started-yellow;
            }

            &#overdue{
              color: $overdue;
            }

            &#assigned{
              color: black;
            }
          }
        }

      }
    }

    table.student_table {
      border: 1px solid $dark-grey;
      border-radius: 8px;
      background-color: white;
      padding: 0;
      border-spacing: 0;

      .table_header:first-of-type{
        border-top-left-radius: 8px;
      border: transparent;
      }

      .table_header:last-of-type{
        border-top-right-radius: 8px;
        border: transparent;
      }
      .table_header {
        background-color: $light-grey;
        font-size: $b3;
        padding: 1em 0;
        border: none;
        min-width: 10vw;

      }


      .row_values {
        padding: 1em 2em 1em 2em;
        background: transparent;
        font-size: $b4;

        &.Not {
          background-color: $white;
        }

        &.Complete {
          background-color: $dark-grey;
        }

        &.Started {
          background-color: $started-yellow;
        }

        &.Overdue {
          background-color: $overdue;
        }

      }

    }


  }
}