@import "styles/variables.scss";

article.assignment__show {
  background-color: $default;
  max-width: 40rem;
  height: 1fr;
  padding: .5rem;
  border: 1px solid rgb(43, 192, 226);
  border-radius: 0.4rem;

  p {
    margin: .5rem 0;
  }

  button {
    margin-right: .5rem;
  }

  &header {
    color: aqua;
  }

  &.started {
    background-color: $started;
  }

  &.complete {
    background-color: $complete;
  }

}