@import "styles/variables.scss";

body {
  background-color: $bg2;
  color: $text-dark;

  header,
  button,
  .bm-item,
  .popup {
    user-select: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

#root>#outer-container {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &.teacher {
    background-image: $linear-bg1;
  }

  &.student {
    background-color: $bg2;
    background-image: $linear-bg2;
  }
}

main.app {
  margin: calc($nav-height * 1.5) auto;
  height: 100vh;
  width: 80vw;
}

section.calendar {
  margin: 0 auto;
}