@import "styles/variables.scss";
$nav-width: 5rem;
$nav-height: 5rem;

body {
  background-color: $bg-light;
  color: $text-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

main.app {
  margin: 0 auto;
  width: 80vw;
}

section.calendar {
  margin: 0 auto;
}

