@import "styles/variables.scss";

body {
  background-color: $bg-light;
  color: $text-dark;

  header, button {
    user-select: none;
  }
}

main.app {
  margin: 0 auto;
  width: 80vw;
}

section.calendar {
  margin: 0 auto;
}

