@import "~normalize.css/normalize.css";
@import "styles/variables.scss";

body {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  font-family: -apple-system,
  'BlinkMacSystemFont',
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
  black: 900,
);

@each $weight,
$value in $weights {
  .text--#{$weight} {
    font-weight: $value;
  }
}

ol,
ul,
li {
  list-style: inside circle;
}