@import "~normalize.css/normalize.css";
@import "styles/variables.scss";

body {
  font-size: 10px;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
  black: 900,
);

@each $weight,
$value in $weights {
  .text--#{$weight} {
    font-weight: $value;
  }
}

h1 {
  font-size: 4.8em;
}

h2 {
  font-size: 3.2em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2.0em;
}

ol,
ul,
li {
  list-style: inside circle;
}