// bgs
$bg-light: #e8e7e3;
$bg-grey: #fdfbf0;
$bg-light-grey: #f3f2f1;
$bg-selected: #eff9f4;

$bg1: rgb(253, 243, 243);
$bg2: rgb(233, 242, 245);
$bg3: rgb(233, 245, 242);

$radial-bg1: radial-gradient(at 50% 50%, #fdffe5 0px, transparent 80%),
  radial-gradient(at 6% 80%, #ffebeb 0px, transparent 50%);
$radial-bg2: radial-gradient(at 50% 50%, #fdffe5 0px, transparent 50%),
  radial-gradient(at 6% 80%, #ebf8ff 0px, transparent 50%);
$radial-bg3: radial-gradient(at 50% 50%, #ffe5e9 0px, transparent 50%),
  radial-gradient(at 6% 80%, #ffebee 0px, transparent 50%);

// text
$title-height: 3em;
$text-dark: #455d3e;
$dark-brown: #262422;

// colors
$outline-light: #dadce0;
$outline-dark: #b3bac6;
$selected: #2a935774;
$light-blue: #97bed1;

$confirm: #10ac84;
$confirm-dim: #29705f;
$warning: #ff4369;
$warning-dim: #903f4f;
$danger: #ee5264;
$danger-dim: #9d4545;

// card bgs
$transparent: rgba(0, 0, 0, 0);
$default: #fdfbf0;
$complete: #eff4f5;
$started: #f7f1f7;

// styles
$active-opacity: 1;
$inactive-opacity: 0.15;
$drop-shadow: 1.7px 1.7px 1.4px rgba(0, 0, 0, 0.016),
  3.9px 3.9px 3.1px rgba(0, 0, 0, 0.023),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  10.3px 10.3px 8.2px rgba(0, 0, 0, 0.033),
  15.2px 15.2px 12.2px rgba(0, 0, 0, 0.037),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  33.5px 33.5px 26.8px rgba(0, 0, 0, 0.047),
  53.4px 53.4px 42.7px rgba(0, 0, 0, 0.054),
  100px 100px 80px rgba(0, 0, 0, 0.07);

// sizing
$font-scale: calc(0.7em + 0.3vw + 0.3vh);
$radius: 1em;

$nav-width: 5rem;
$nav-height: 5rem;

$cell-width: 8rem;
$cell-height: 4rem;

// header colors
:root {
  --header-color: #217346;
  --hover-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}