// bgs
$bg-light: #e8e7e3;
$bg-grey: #fdfbf0;
$bg-light-grey: #f3f2f1;
$bg-selected: #eff9f4;

// text
$title-height: 3em;
$text-dark: #455d3e;

// colors
$outline-light: #dadce0;
$outline-dark: #b3bac6;
$selected: #ff516bcf;
$confirm: #10ac84;
$danger: #ee5253;
$warning: #ff9f43;

// card bgs
$transparent: rgba(0, 0, 0, 0);
$default: #fdfbf0;
$complete: #eff4f5;
$started: #f7f1f5;

// styles
$active-opacity: 1;
$inactive-opacity: 0.15;

// sizing
$font-scale: calc(0.6em + 0.3vw + 0.3vh);
$radius: 1em;

$nav-width: 5rem;
$nav-height: 5rem;

$cell-width: 8rem;
$cell-height: 8rem;

// header colors
:root {
  --header-color: #217346;
  --hover-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}